h1 {
    color: darkslategrey;
    font-size: x-large;
    font-family: Candara;
    text-align: center;
}

h2 {
    color: darkslategrey;
    font-size: larger;
    font-family: Candara;
}

h3 {
    color: #0c6565;
    font-size: x-large;
    font-family: Candara;
}

body {
    font-family: Candara;
}
/*img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*}*/
