h1 {
    color: darkslategrey;
    font-size: x-large;
    font-family: Candara;
    text-align: center;
}

h2 {
    color: darkslategrey;
    font-size: larger;
    font-family: Candara;
}
text {
    color: #0c6565;
    font-family: Candara;
    text-align: center
}
