<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Diaryst</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

</head>

<body>
</header>
<main role="main" class="content-wrapper mt-3">
  <div class="container">
    <!--/*@thymesVar id="template" type="templates"*/-->
    <section th:include="${template}"></section>
  </div>
</main>
<!--    <footer class="container">-->
<!--        <p>The Footer</p>-->
<!--    </footer>-->
</body>

</html>