<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Diaryst</title>

<!--  <link rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>-->

</head>
<body>
<!--th:style="'background:url('+ @{/images/background.jpg} +');'">-->
<!--        th:style="'background:url('+ @{/image/background.jpg} +');'">-->
<!--        th:style="'background: url(/images/background.jpg) no-repeat center center fixed;'">-->
</body>
</html>