<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Diaryst</title>
  <link th:href="@{/css/style2.css}" href="#" rel="stylesheet" />

<!--  <link rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>-->

</head>
<body>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Hier geht es nur um DICH <br />
      </h3>
    <p class="card-text">Diaryt ermöglicht es dir, jeden Tag virtuell festzuhalten.<br />
    Gib deinem Tag einen Namen, schreib auf was dich bewegt und bewerte deine Gefühlslage mit einem passenden Emoji. </p>
    <p class="card-text"><small class="text-muted">Los geht's!</small></p>
  </div>
  <img th:src="@{/images/background.jpg}" class="card-img-bottom" alt="...">
</div>

<!--th:style="'background:url('+ @{/images/background.jpg} +');'">-->
<!--        th:style="'background:url('+ @{/image/background.jpg} +');'">-->
<!--        th:style="'background: url(/images/background.jpg) no-repeat center center fixed;'">-->
</body>
</html>